<h1>About Us</h1>
<p>This is my first Rails App! -------------- by Nanqing Li</p>

<br/>
<br/>
<br/>
<p>Users can create an account and sign up to website, log in, add stocks, check stock prices,</p>
<p>Look up stock quotes, financial information, save it to a database and all kinds of other cool financial information</p>